doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='//cdnjs.cloudflare.com/ajax/libs/seedrandom/3.0.5/seedrandom.min.js')
  script(type='module' src='/javascripts/app.js')
